<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sdp.edu.mapper.Class1Mapper">
	<select id="select_class_1" resultType="com.sdp.edu.bean.T_MALL_CLASS_1">
		select * from t_mall_class_1
	</select>
</mapper>

